@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

@font-face {
    font-family: myFont;
    src: url(../fonts/BlackOpsOne-Regular.ttf);
}

@font-face {
    font-family: secondFont;
    src: url(../fonts/CroissantOne-Regular.ttf);
}

@keyframes slide-in {}

@keyframes changecardCol {
    from {
        background-color: white;
    }

    to {
        background-color: gold;
    }
}

@keyframes changeOpa {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.bar {
    height: 6px;
    background-color: #0047ab;
}

.bar::before {
    content: '';
    display: flex;
    justify-content: end;
    width: calc(var(--percent) * 1%);
    height: 100%;
    background: gold;
    white-space: nowrap;
}

div {
    vertical-align: top;
}

body {
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    background-color: #0047ab;
    width: 100%;
    overflow-x: hidden;
}

.myText>h1, label>span, .myText>h1+p {
    position: absolute;
    top: 15%;
    font-family: myFont;
    color: white;
    left: 100px;
}

.myText>h1 {
    color: gold;
    font-size: 20px;

}

.myText>p {
    font-size: 24px;
    margin-top: 100px;
}

nav>p {
    font-family: myFont;
    margin-top: -10px;
    font-size: 16px;
    color: white;
}

#front {
    width: 100%;
    height: 50vh;
    margin: 0px;
    position: relative;

}

body>img {
    width: 100%;
    height: fit-content;
    max-width: 1800px;
    border-width: 80px;
    border-color: black;
    opacity: 0.5;
    margin: auto;
}

div>h1+p {
    top: 35%;
}


#frontBox {
    width: 90%;
    height: 80vh;
    top: 10vh;
    left: 5%;
    right: 5%;
    bottom: 10vh;
    z-index: 0;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 1);
    border-radius: 5px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}

.contactMe {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 0px;
    right: 5%;
    font-family: myFont;
}

body::-webkit-scrollbar {
    display: none;
}

body a {
    text-decoration: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.AboutSection {
    width: 100%;
    height: 100vw;
    background-color: white;
}


.AboutSection>a>h1 {
    width: 100%;
    color: rgb(56, 54, 54);
    font-size: 40px;
    font-family: monospace;
    text-align: center;
    margin-bottom: 40px;
}

.AboutSection>a>h2 {
    width: 100%;
    color: gold;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    margin-bottom: 0px;
    vertical-align: bottom;
}



.myBg {
    background: #151515 url(../images/c-backgroup.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
    text-align: center;
}

label {
    font-family: myFont;
    margin-left: 9px;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    color: gold;
}

/*

---------------------------------------------------

*/
.AboutSection {
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    padding-bottom: 10px;
    transform: translateY(-22px);
}

#profilePic {
    width: auto;
    height: 200px;
    padding: 3px;
    border-radius: 3px;
    transition: transform 0.3s ease-in-out;
    margin-left: 20px;
    border: 3px solid #0047ab;
    padding: 10px;
    background-image: linear-gradient(45deg, gold 25%, transparent 25%, transparent 50%, gold 50%, gold 75%, transparent 75%, #fff);
}


#first {
    text-align: center;
}

#profilePic:hover {
    transform: scale(1.2);
    /* Adjust the scale factor for zoom level */
}

.info {
    padding-left: 20px;
    font-family: monospace;
    font-size: 20px;
    vertical-align: center;
    display: inline-block;
    width: 50%;
    height: 200px;
    text-align: left;
}

#second {
    text-align: center;
}

#second>p {
    text-align: center;
    margin-left: 10px;
    font-family: monospace;
    color: gold;
    font-size: 25px;
    font-weight: bold;
}

#second>p+div {
    width: 80%;
    display: inline-block;
    background-image: linear-gradient(315deg, #0047ab 0%, #5078F2 74%);
    height: 200px;
    text-align: left;
    padding-left: 10px;
    transition: transform 0.3s ease-in-out;
}

#second>p+div:hover {
    transform: scale(1.05);
}

#second>p+div>a>img {
    width: 180px;
    height: 180px;
    margin-top: 10px
}

#second>p+div>a>img+p {
    display: inline-block;
    vertical-align: top;
    color: white;
    font-family: monospace;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
}

#second>p+div>a>img+p>span {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 100;
}

#third>p {
    text-align: center;
    margin-left: 10px;
    font-family: monospace;
    color: gold;
    font-size: 25px;
    font-weight: bold;
}

#third>div {
    text-align: center;
}

#third>p+div>#interest {
    display: inline-block;
    margin: 5px;
    margin-left: 50px;
    width: 250px;
    height: 110px;
    background-image: linear-gradient(315deg, #0047ab 0%, #5078F2 74%);
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

#third>p+div>#interest:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(315deg, #0047ab 0%, gold 74%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    /* Ensure the pseudo-element doesn't interfere with mouse events */
}

#third>p+div>#interest:hover:before {
    opacity: 1;
}

#third>p+div>#interest>svg {
    position: absolute;
    left: 40px;
    top: 20px;
    font-size: 50px;
}

#interest>span {
    position: absolute;
    font-size: 20px;
    color: white;
    font-weight: bold;
    top: 40%;
    font-family: monospace;
    left: 140px
}

/*
-------------------------------------------------------------------->
*/

.SkillSection {
    width: 100%;
    height: fit-content;
    background-color: #151515;
    padding-bottom: 20px;
    transform: translateY(-22px);
    /**/
}

.SkillSection>h1 {
    width: 100%;
    color: gold;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 22px;
}

.SkillSection>h2 {
    font-family: monospace;
    font-size: 20px;
    color: #fff;
    margin-left: 30px;
    text-decoration: underline;
}

.SkillSection>h2+div {
    margin-left: 30px;
}

.skill {
    display: inline-block;
    width: 125px;
    height: 125px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.skill:hover {
    transform: scale(1.1);
}

.skill>img+p {
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    color: #0047ab;
    background-color: cadetblue;
}

.skill>img {
    width: 70px;
    height: auto;
    margin-top: 10px;
}

#softSkill {
    color: #ff9500;
    text-decoration: none;
}

#softSkill+h2, #softSkill+h2+h2, #softSkill+h2+h2+h2 {
    text-decoration: none;
}

/*

-------------------------------------------------------------------->

*/

#resume {

    height: fit-content;
    position: relative;
    width: 80%;
    margin: auto;
    display: block;
    background: linear-gradient(to right, #007bff, #006584);
    opacity: 1;
    height: 150px;
    margin-bottom: 100px;
    border-radius: 25px;
    box-shadow: 5px 10px 18px #888888;

}

#resume>h1 {
    padding-top: 40px;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Lucida Console', Courier, monospace;
    color: black;
    opacity: 1;

}

#resume>p {
    padding-left: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #151515;
}

#resume>img {
    position: absolute;
    right: 150px;
    top: 10px;
    height: 150px;
    transition: transform 0.3s ease;
}

#resume:hover>img {
    transform: scale(1.5);
}

.resumeSection {
    transform: translateY(-22px);
    background-color: white;
    padding-bottom: 30px;
}

.resumeSection>a {
    display: inline-block;
    width: 100%;
    color: gold;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 70px;
    letter-spacing: 5px;
}

.MyFormation {
    width: 100%;
    height: fit-content;
    transform: translateY(-24px);
    background-color: white;
    position: relative;
}

.MyFormation>.subject>.line {
    position: absolute;
    background-color: rgb(205, 202, 202);
    width: 2px;
    height: 235px;
    left: 138px;
    z-index: -1;
}

.MyFormation>a {
    display: inline-block;
    width: 100%;
    color: gold;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 70px;
    letter-spacing: 5px;
}

.MyFormation>h1:first-of-type {
    width: 100%;
    color: #151515;
    font-family: monospace;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}


.MyFormation>p:first-of-type {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(158, 157, 157);
    line-height: 1.9;
    font-size: 20px;
    width: 500px;
    font-weight: 900;
    margin: auto;
}

.MyFormation>a>span {
    color: blue;
}

.MyFormation>.subject {
    position: relative;
    margin: auto;
    width: 800px;
}

.MyFormation .subject>.subName {
    display: inline-block;
    margin: 0px;
    vertical-align: top;
    text-align: left;
    width: 130px;
    color: #151515;
    font-family: monospace;
    font-weight: 900;
    font-size: 24px;
    color: #0047ab;
    margin-top: 23px;
    margin-right: 10px;
}

.MyFormation .subject>.circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ff9500;
    background-position: center;
    background-size: 45px 45px;
    border-radius: 50%;
    margin-right: 50px;
    margin-top: 20px;
    position: absolute;
    left: 118px;
}

.MyFormation .subject:nth-child(4) .circle {
    background-image: url(../images/react.png);
}

.MyFormation .subject:nth-child(5) .circle {
    background-image: url(../images/html.png);
}

.MyFormation .subject:nth-child(6) .circle {
    background-image: url(../images/java.png);
}

.MyFormation .subject:nth-child(7) .circle {
    background-image: url(../images/mySql.png);
}

.MyFormation .subject>.addInfo {
    display: inline-block;
    margin: 0px;
    color: #151515;
    font-family: monospace;
    font-weight: 900;
    font-size: 20px;
    color: gold;
    height: 20px;
    vertical-align: top;
    margin-top: 30px;
}

.addInfo span {
    display: inline-block;
    width: 55px;
    height: 3px;
    background-color: rgb(158, 157, 157);
}

.pushText {
    display: inline-block;
    width: 30%;
}

.pushText+p {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(158, 157, 157);
    line-height: 1.5;
    font-size: 15px;
    width: 500px;
    text-align: left;
}

@media only screen and (max-width: 719px) {
    .MyFormation>.subject {
        width: 600px;
    }

    .MyFormation {
        height: fit-content;
    }

    .MyFormation>.subject>.circle {
        left: 40px;
    }

    .MyFormation>.subject>.line {
        height: 335px;
        display: none;
    }
}

@media only screen and (min-width: 720px) and (max-width: 905px) {
    .MyFormation>.subject {
        width: 600px;
    }

    .MyFormation>.subject>.circle {
        left: 30px;
    }

    .MyFormation {
        height: fit-content;
    }

    .MyFormation>.subject>.line {
        height: 335px;
        display: none;
    }
}

/*
--------------------------CONTACT SECTION--------------------------------------------
*/
.contactSection {
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
    transform: translateY(-24px);
    background-color: #151515;
    position: relative;
    margin-bottom: 50px;
}

.contactSection>a {
    display: inline-block;
    width: 100%;
    color: gold;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 70px;
    letter-spacing: 5px;
}

.contactSection>h1 {
    width: 100%;
    color: #ffffff;
    font-family: monospace;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}

.contactSection>h1+p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(158, 157, 157);
    line-height: 1.9;
    font-size: 14px;
    width: 500px;
    font-weight: 900;
    margin: auto;
    margin-bottom: 30px;
}

.form-field {
    position: relative;
    margin: auto;
    width: 60%;
    text-align: center;
}

.form-field>input, .form-field>textarea {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #151515;
    padding: 16.941px 18.823px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 1.9px;
    font-weight: 900;
    font-size: 15px;
}

.form-field>input[type="text"]:focus {
    border: 2px solid #007bff;
}

.submitForm {
    margin: auto;
    font-size: 0.75rem;
    display: block;
    letter-spacing: .1rem;
    height: 3.6rem;
    padding: 0 3rem;
    margin-top: 4.8rem;
    width: 60%;
    font-family: monospace;
    font-weight: 1000;
    background: gold;
    color: #FFFFFF;
    text-align: center;
    border: none;
}

/*------------------------MonPortofolio-------------------------*/

.MonPortofolio {
    width: 100%;
    margin-bottom: 20px;
    transform: translateY(-24px);
}

.MonPortofolio>a {
    display: block;
    width: 100%;
    color: gold;
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    font-weight: 900;
    letter-spacing: 5px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.myWork {
    width: 100vw;
    height: fit-content;
    margin: auto;
}

.content {
    text-align: center;
    border-radius: 3px;
    background-color: white;
    width: 180px;
    height: 270px;
    margin: auto;
    display: inline-block;
    margin-top: 30px;
    margin-left: 43px;
    margin-right: 43px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease;
}

.content:nth-child(1) {
    background-image: url('../images/projects/afroBeat.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content:nth-child(2) {
    background-image: url('../images/projects/carCollection.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content:nth-child(3) {
    background-image: url('../images/projects/dog.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content:nth-child(4) {
    background-image: url('../images/projects/DripDynastie.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content:nth-child(5) {
    background-image: url('../images/projects/GameJs.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content:nth-child(6) {
    background-image: url('../images/projects/gamingWeb.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content:nth-child(7) {
    background-image: url('../images/projects/mathFight.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content:nth-child(8) {
    background-image: url('../images/projects/movieHeaven.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content:nth-child(9) {
    background-image: url('../images/projects/reptileInfection.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content:nth-child(10) {
    background-image: url('../images/projects/shoesWebsite.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content:nth-child(1):hover::after {
    background-color: rgba(0, 0, 0, 0.5);
    /* Darken the background image on hover for the first element */
}

.title {
    opacity: 0;
    background-color: #151515;
    height: 40px;
    margin: 0px;

}

.content:hover {
    background-color: rgba(0, 0, 0, 0.5);
}



.content:hover .title {
    animation: 1s 1 normal changeOpa;
    opacity: 1;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Your existing styles for the modal */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    /* Adjust the duration as needed */
}

.modal.show {
    /* Display the modal and change opacity when the 'show' class is added */
    display: block;
    opacity: 1;
}

.modal-content {
    border: 2px solid #0047ab;
    border-radius: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.title {
    font-family: 'Protest Riot', sans-serif;
}

#modalTitle {
    font-family: 'Protest Riot', sans-serif;
}

#modalTech {
    font-family: 'Protest Riot', sans-serif;
}

#modalImage {
    width: 400px;
    height: auto;
}

#modalDescription {
    display: inline-block;
    vertical-align: top;
    font-family: 'Courier New', Courier, monospace;
}

#language {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    border: 5px dashed gold;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#githubLink>img {
    width: 50px;
    height: auto;
}

.menu-item.but>img {
    width: 50px;
    vertical-align: middle;
}

@media only screen and (max-width:400px) {


    .MonPortofolio {
        text-align: center;
    }

    .myWork {
        height: fit-content;

    }

    .content {
        height: 270px;
    }

    .content {
        right: 20px;
    }
}

@media only screen and (min-width: 721px) and (max-width: 905px) {
    .content {
        width: 180px;
        height: 270px;
        margin: 0px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .pushText+p {
        width: 500px;
    }

    .MonPortofolio {
        text-align: center;
    }

    .AboutSection {
        height: fit-content;
    }

    #resume>img {
        right: 20px;
    }
}

@media only screen and (min-width: 401px) and (max-width:720px) {
    #taille {
        color: red;
    }

    .AboutSection {
        height: fit-content;
    }

    .AboutSection>div {
        height: fit-content;
        vertical-align: baseline;
    }

    .section+.section {
        margin-top: 60px;
    }

    .skill-bars {
        padding-left: 0px;
    }

    .pushText+p {
        width: 90vw;
    }

    .MyFormation .subject>.subName {
        margin-left: 10px;
    }

    .pushText {
        width: 10px;
    }

    .MonPortofolio {
        height: fit-content;
        text-align: center;
    }

    #resume>img {
        right: 20px;
    }

    .MyFormation>a+h1+p {
        width: 100vw;
    }

    .MyFormation .subject>.circle {
        margin-right: 0px;
    }

    .MyFormation .subject>.addInfo {
        font-size: 13px;
    }

    .myWork {
        text-align: center;
    }

    .content {
        margin: 10px;
        display: inline-block;

    }

    .contactSection>h1+p {
        width: 100vw;
    }

    .contactSection {
        padding-bottom: 70px;
    }
}

.sentEmail {
    display: none;
}